 /* .adminhome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  */
/* .adminImg>img{
    margin-right: 1000px;
    width: 200px;
    height: 200px;
    border-radius: 30%;
}  */